*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  background-image: url('1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 109vh;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 4px #000;
  font-size: 48px;
}
