*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('1.jpg');
  background-position: center;
  background-size: cover;
}

.main{
  width: 100%;
  background-image: url('1.jpg');
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: tomato;
}
